head
  // Come on and let's 
  title= appName+' - '+title

  // SEO Tags for GOOGLE BING YAHOOOOOO DUCKS
  meta(name='keywords' content='Art, Draw, Beginners, DeviantART')
  meta(name='description' content='Drawalongs is a training ground for artists to collaborate, improve, and recieve feedback.')
  // Share plz :P
  meta(property='og:type' content='website')
  meta(property='og:title' content='Drawalongs')
  meta(name='og:description' content='Drawalongs is a training ground for artists to collaborate, improve, and recieve feedback.')
  meta(property='og:url' content='http://drawalongs.com/')
  meta(property='og:image' content='/shutter/ava-coolio.png')
  meta(property='og:site_name' content='Drawalongs')
  // That's So Meta 
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  // Icons Icons Icons! (I wish Steve Ballmer said that...)
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='apple-touch-icon' content='apple-touch-icon.png')
  meta(name='msapplication-navbutton-color' content='#672F89')
  meta(name='msapplication-tooltip' content='Drawalongs')
  meta(name='msapplication-TileColor' content='#672F89')
  meta(name='msapplication-TileImage' content='apple-touch-icon.png')
  // I am a web app, Apple!
  meta(name='apple-mobile-web-app-capable' content='yes')
  // Web app status bars have changed in iOS7 
  // -> TODO: Add fixed top bar and body padding if user agent matches iOS 
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  // Styles
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/icons/style.css')
  // CDN Whatever
  // script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js')
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
