<header id="about">
    <h1>About Us</h1>
    <p>Drawalongs is a community for artists to come together.</p>
</header>
<section id="staff">
    <h2>Staff</h2>
    <p><b>Guy in Charge:</b> @LabLayers</p>
</section>
<section id="tech">
    <h2>Technology</h2>
    <p><b>Backend:</b> Node.js, Mongodb</p>
    <p><b>Frontend:</b> Angular.js, jQuery</p>
    <p><b>Design:</b> Custom-Designed Sass Framework</p>
    <p><b>Hosting:</b> Heroku, MongoLab</p>
</section>
<section id="notice">
    <h2>Notice</h2>
    <p>Be nice. Or else.</p>
</section>