<header id="about">
    <h1>About Us</h1>
    <p>Drawalongs is a community for artists to come together and improve their skills through critique. Currently in open beta.</p>
</header>
<section id="staff">
    <h2 class="title">Get Started</h2>
    <p>Welcome to the Drawalongs open beta! You can follow these steps to get started:</p>
    <ul>
        <li>1. Create a match</li>
        <li>2. Invite the community</li>
        <li>3. Draw</li>
        <li>4. Submit</li>
    </ul>
</section>
<section id="staff">
    <h2 class="title">Staff</h2>
    <p>If you run into any problems, do not hesitate to contact us!</p>
    <p><b>Guy in Charge:</b> @LabLayers</p>
</section>
<section id="tech">
    <h2 class="title">Technology</h2>
    <p><b>Backend:</b> Node.js, Mongodb</p>
    <p><b>Frontend:</b> Angular.js, jQuery</p>
    <p><b>Design:</b> Custom-Designed Sass Framework</p>
    <p><b>Font: </b>Museo Sans</p>
    <p><b>Hosting:</b> Heroku, MongoLab</p>
    <p><b>Domain Name:</b> @Teddy from Namecheap</p>
    <p>You may also be interested in reading our <a href="/humans.txt">Humans.txt</a>.</p>
</section>
<section id="roadmap">
    <h2 class="title">Product Roadmap</h2>
<pre>
    Here are a list of planned major features in a fluid order, with no approximate timeframe:
    Critical basic functionality
    Remove remaining traces of Ember/Scooter
    User profiles
    "Native comments" option
    "Fork in Gist/Muro" option
    Dynamic page titles
    Previous/Next buttons and keyboard shortcut
    ReDraw for Muro Submissions
    "NSFW" option, filter, and warning
    Spoiler Tags
    Social Sharing
    "Discourage Social Sharing" option
    Collections
    Connect multiple social accounts at once
    Twitter and/or Tumblr integration
    Markdown
    oEmbed API
    Post to GitHub &amp; Gist
    Upload to Sta.sh
    Manage Sta.sh 
    "Watermark" option
    Category system
    User journals
    JSON API
    Hash-free URL pattern with legacy fallback /)
    (Custom) URLs that actually read like English with legacy fallback
</pre>
</section>
<section id="notice">
    <h2 class="title">Terminology Dibs</h2>
    <p>"Drawalong" was first used by <a href="http://reddit/r/mlpdrawingschool">/r/mlpdrawingschool</a></p>
    <p>"SketchMatch" was first used by <a href="thiefoworld.deviantart.com">thiefoworld</a></p>
    <p>"DrawShare" was first used by Adobe</p>
</section>