<menu data-ng-controller="HeaderController">
    <li class="logo">
        <a href="#!/">Drawalongs</a>
    </li>
    <!-- <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
        <a href="#!/{{item.link}}">{{item.title}}</a>
    </li> -->
    <li>
        <a href="#!/matches">Matches<span class="count">8</span></a>
    </li>
    <li>
        <a href="#!/browse">Browse</a>
    </li>
    <li>
        <a href="#!/critique">Critique</a>
    </li>
    <li class="right" data-ng-hide="global.authenticated">
        <a href="signin">Sign In</a>
    </li>
    <li class="right dropdown-toggle" data-ng-show="global.authenticated">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="avatar">
                <img src="{{global.user.avatar}}" alt="">
            </span>
            {{global.user.name}}
        </a>
        <ul class="dropdown-menu">
            <li onclick="profile()">
                <a href="#!/profile">My Profile</a>
            </li>
            <li onclick="logout()">
                <a href="/signout">Log Out</a>
            </li>
        </ul>
    </li>
    <li class="right">
          <a href="#!/submit" class="submit">Submit</a>
    </li>
</menu>