<section id="error">
  <h1>Encountered Some FOG.</h1>
  <p class="lead">Clouds go down so often we have a name for it - fog.<br>No worries, the fog has been reported to the sun god and should clear up soon.</p>
  <div id="error-stack-trace">
    <pre class="500"><code>MongoError: E11000 duplicate key error index: $status  dup key: { : "0:00am" }
    at Object.toError (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/utils.js:110:11)
    at /Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/collection/core.js:212:24
    at Server.Base._callHandler (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/base.js:442:41)
    at /Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/server.js:485:18
    at MongoReply.parseBody (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/responses/mongo_reply.js:68:5)
    at null.<anonymous> (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/server.js:443:20)
    at EventEmitter.emit (events.js:95:17)
    at null.<anonymous> (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/connection_pool.js:191:13)
    at EventEmitter.emit (events.js:98:17)
    at Socket.<anonymous> (/Users/Bro/Developer/MEAN/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/connection.js:418:22)</anonymous></anonymous></anonymous></code>
  </pre>
  </div>
  <p class="lead">In other words: HTTP 500 Internal Server Error.</p>
</section>