<header>
	<h1>Submit</h1>
	<p>Share your ideas with the world.</p>
</header>
<section class="submit" data-ng-controller="ArticlesController">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
			<label for="title" class="col-md-2 control-label">URL</label>
				<input type="text" class="form-control" data-ng-model="url" id="url" placeholder="URL" required>
			<br>
			<label for="title" class="col-md-2 control-label">Match</label>
				<input type="text" class="form-control" data-ng-model="match" id="match" placeholder="match">
			<br>
			<hr>
			<label for="title" class="col-md-2 control-label">Title</label>
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			<br>
			<label for="content" class="col-md-2 control-label">Content</label>
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
			<br>
			<label for="title" class="col-md-2 control-label">Contains Mature Content</label>
				<input type="checkbox" data-ng-model="nsfw">
			<br>
		<button type="submit" class="btn-submit">Submit</button>
	</form>
</section>