<header id="submit">
	<h1>Submit</h1>
	<p>Share your ideas with the world.</p>
</header>
<div class="notice" data-ng-controller="HeaderController" data-ng-hide="global.authenticated">
      <b>Note:</b> You must <a href="/signin">sign in</a> to post to Drawalongs, but feel free to play around with the upload tools.
</div>
<div class="notice" data-ng-controller="HeaderController">
      <b>Note:</b> No deviantART account is required to use Muro - just draw and click "Upload" when finished.
</div>

<div id="damuro-controller" class="hidden">
	<div class="muro-toolbar" onclick="closeMuro();">Save &amp; Upload</div>
	<div class="muro-save">Saving to Drawalongs...</div>
</div>
<section class="edit edit-new" data-ng-controller="ArticlesController">
<form role="form" data-ng-submit="create()">
	<h2 class="title">Upload</h2>
	<div class="row apps">
		<div class="col4 hidden-mobile">
			<h4>Start Drawing</h4>
			Save your art directly to Drawalongs.
			<a class="app-muro" onclick="openMuro()">
				<img src="http://i.imgur.com/LovuvIF.png?1?9455" alt="icon" class="left" width="50" height="50">
				DeviantART Muro
				<span>Draw Online with HTML5</span>
			</a>
			<a target="_new" href="sketchbook://savepath:http://drawalongs.com/#!/submit?{!!BASE64.png}" class="app-sketchbook">
				<img src="http://i.imgur.com/Pbyvyal.jpg" alt="icon" class="left" width="50" height="50">
				Sketchbook (Desktop)
				<span>Requires Installation, Windows Only</span></a>
			<h4>External Apps</h4>
			<a href="http://pixlr.com/" class="app-pixlr" target="_blank">
				<img src="http://i.imgur.com/QghhNzW.png?1?9746" alt="icon" class="left" width="50" height="50">
				Pixlr
				<span>Advanced Image Editor</span>
			</a>
			<a href="http://gist.github.com/" class="app-github" target="_blank">
				<img src="http://i.imgur.com/ZnQqoZb.png?3?2690" alt="icon" class="left" width="50" height="50">
				GitHub Gist
				<span>For Code &amp; Literature</span>
			</a>
			(You can copy &amp; paste the URL.)
		</div>
		<div class="col8">
			<h4>Select an Image</h4>
			Draw with your favorite app and drag to upload right here.
			<div id="uploader">
				<div data-upload="upload">
					<span>DRAG TO UPLOAD<span>
					<br>
				<button onclick="document.querySelector('input').click()">Or click here to select a file!</button></div>
				<input style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
				<p>Uploading...</p>
				<br>
				<a target="_blank" id="link">
					Your image has been uploaded! <i class="icon-chevron-right"></i>
					<span>View on Imgur</span>
				</a>
			</div>
			<h4>Enter a URL</h4>
			<label for="validate-url" class="control-label">URL<sup>*</sup></label>
				<input type="url" class="form-control" id="url" data-ng-model="url" placeholder="URL" data-ng-change="change()">
				<p ng-if="!url">
					<b>Accepted links:</b> deviantart.com, sta.sh, imgur.com, gist.github.com
				</p>
				<p ng-if="url">
					{{url}}
				</p>
		</div>
	</div>
	<br>
	<br>
	<h2 class="title">Details</h2>
			<br>
	<div class="row input">
			<div class="col4">
				<label for="title" class="control-label">Match</label>
			</div>
			<div class="col8">
				<input type="text" class="form-control validate" data-ng-model="match" id="match" placeholder="Match">
			</div>
	</div>
	<div class="row input">
			<div class="col4">
				<label for="title" class="control-label">Title<sup>*</sup></label>
			</div>
			<div class="col8">
				<input type="text" class="form-control validate" data-ng-model="title" id="title" placeholder="Untitled" required>
			</div>
	</div>
	<br>
		<div class="row input">
			<div class="col4">
				<label for="content" class="control-label">
					Description<br>
					<small><a href="http://daringfireball.net/projects/markdown/syntax" tabindex="-1">markdown supported</a></small>
				</label>
			</div>
			<div class="col8">
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control validate"></textarea>
			</div>
		</div>
	<br>
		<div class="row input">
			<div class="col4">
				<label for="content" class="control-label">
					Tags<br>
				</label>
			</div>
			<div class="col8">
				<input type="text" class="form-control validate" data-ng-model="tags" id="tags" placeholder="Space-seperated">
			</div>
		</div>
	</div>
			<br>
			<br>
			<h2 class="title">Comments</h2>
			<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Commenting System<sup>*</sup>
				</div>
				<div class="col8 larger">
					<input type="radio" data-ng-model="comments" value="disqus" id="disqus" checked="checked">
					<label for="disqus">Disqus
						<span>Public commenting system that will allow anyone to comment. Replies will appear in your e-mail.</span></label>
					<input type="radio"data-ng-model="comments" value="da" id="da">
					<label for="da">deviantART (Experimental)
						<span>Closed commenting system that will allow members of deviantART to comment. A bot will start a comment thread on deviantART. Replies will appear in your Message Center.</span></label>
					<input type="radio" data-ng-model="comments" value="native" id="native" disabled>
					<label for="native" style="opacity: 0.5">Native (Coming Soon!)
						<span>Closed commenting system that will allow Drawalongs members to comment. Replies will appear in you e-mail (assuming that I haven't yet hit the Sendgrid limit.)</span></label>
					<input type="radio" data-ng-model="comments" value="disabled" id="disabled">
					<label for="disabled">Disable Comments
						<span>Turn off comments for everyone.</span></label>
				</div>
			</div>
			<br>
			<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Critique Settigs
				</div>
				<div class="col8 larger">
					<input type="checkbox" data-ng-model="critique" id="critique">
					<label for="critique" class="control-label">Request Critique
					<span>Request valuable insight on how to improve your technique.</span></label>
				</div>
			</div>
			<br>
			<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Ready?
				</div>
				<div class="col8 larger">
					<label>
						<span style="text-align: center;">By submitting, you agree that you are submitting original work that is relatively SFW.</span>
					</label>
					<button type="submit" class="btn-submit" onclick="$('html, body').animate({ scrollTop: 0 }, 600);">Submit</button>
				</div>
			</div>
		<script>
		$(document).ready( function () {
		    $('input').each( function () {
		        $this = $(this);
		        if ( this.value != '' ) $this.addClass('valid');        
		    });
		    $('textarea').each( function () {
		        $this = $(this);
		        if ( this.value != '' ) $this.addClass('valid');        
		    });

		});
		// Muro
		$('#damuro-controller').damuro({
			// Locate a sandbox to quarantine third-party javascript in.
			sandbox:     '/views/muro.html',
			// Set a custom loading screen message.
			loadingText: 'Loading Muro...',
			// Make the "click to play" splash screen have a funky colour.
			splashCss: {
				color: '#33a'
			},
			// We don't want to have deviantART muro load automatically.
			autoload: false
			})
			// Bind a single-use onclick handler to open muro when they click on the splash screen.
			.one('click', function () { 
				$(this).damuro().open();
				$(this).removeClass('hidden'); 
				setTimeout( function() { $(this).addClass('visible'); }, 500);
			})
			// Chain down to the damuro object rather than $('#damuro-controller').
			.damuro()
			// Grab the Sta.sh URL for submission
			// .complete(function (data) {
			// 	if (data.deviationid && !/\'/.test(data.deviationid)) {
			// 		console.log(deviationid)
			// 	}
			// 	else {
			// 			
			// 	}
			// })
			// The .damuro() object is a promise, so lets bind a done() and fail() handler.
			// .gotDeviationId(function (data) {
			// 		// saveMuro();
			// 		if (data.deviationid && !/\'/.test(data.deviationid)) {
			// 			console.log(data.deviationid);
			// 		}
			// 	})
			.done(function (data) {
					// saveMuro();
					if (data.image && !/\'/.test(data.image)) {
						// Here's where you'd save the image, we'll just set the header background as an example.
						console.log(data.image);
						var imgData = JSON.stringify(getBase64Image(data.image));
							$.ajax({
								url: 'http://api.imgur.com/2/upload.json',
								type: 'post',
								headers: {
								},
								data: {
									image: imgData,
									key: "6528448c258cff474ca9701c5bab6927"
								},
								dataType: 'json',
								success: function(data) {
									console.log(data.upload.links.imgur_page);
									document.querySelector("#uploader").className = "uploaded";
									document.querySelector("#link").href = data.upload.links.imgur_page;
									document.querySelector("#link span").innerHTML = data.upload.links.imgur_page;
									document.getElementById("url").value = data.upload.links.imgur_page;
									setTimeout( function() { $("#url").trigger("input"); }, 500);
									$('#submit').css('backgroundImage', "url('" + data.upload.links.imgur_page + ".png')");
									$('#submit').addClass('float-text-shadow'); 
								},
								error: function(data) {
									console.log(data);
									$('header').after('<div class="notice ng-scope">All aboard the fail whale: ' + data.error + '.</div>');
								}
							})
						// And scroll to the top so you see it.
						// $('html, body').animate({
						//     scrollTop: $('.inner').offset().top
						//     }, 200);
					}
					// And remove deviantART muro from the page.
					$(this).removeClass('visible');
					$(this).addClass('hidden'); 
					$('body').removeClass('noscroll'); 
					$(this).hide().damuro().remove();
				})
			.fail(function (data) {
					$(this).hide().damuro().remove();
					if (data.error) {
						// Something failed in saving the image.
						$('header').after('<div class="notice ng-scope">All aboard the fail whale: ' + data.error + '.</div>');
					} else {
						// The user pressed "done" without making any changes.
						$('header').after("<div class='notice ng-scope'>By the way, you didn't draw anything.</div>");
					}

				});
			function getBase64Image(imgElem) {
			    // var canvas = document.createElement("canvas");
			    // canvas.width = imgElem.clientWidth;
			    // canvas.height = imgElem.clientHeight;
			    // var ctx = canvas.getContext("2d");
			    // ctx.drawImage(imgElem, 0, 0);
			    // var dataURL = imgElem.toDataURL("image/png");
			    return imgElem.replace(/^data:image\/(png|jpg);base64,/, "");
			}
			function saveMuro() {
				$("#damuro-controller").damuro().query('image', null, function (data) {
						if (data.image) {
							var imgData = JSON.stringify(getBase64Image(data.image));
								$.ajax({
									url: 'http://api.imgur.com/2/upload.json',
									type: 'post',
									headers: {
									},
									data: {
										image: imgData,
										key: "6528448c258cff474ca9701c5bab6927"
									},
									dataType: 'json',
									success: function(data) {
										console.log(data.upload.links.imgur_page);
										document.querySelector("#uploader").className = "uploaded";
										document.querySelector("#link").href = data.upload.links.imgur_page;
										document.querySelector("#link span").innerHTML = data.upload.links.imgur_page;
										document.getElementById("url").value = data.upload.links.imgur_page;
										setTimeout( function() { $("#url").trigger("input"); }, 500);
										$('#submit').css('backgroundImage', "url('" + data.upload.links.imgur_page + ".png')");
										$('#submit').addClass('float-text-shadow'); 
									},
									error: function(data) {
										console.log(data);
										$('header').after('<div class="notice ng-scope">All aboard the fail whale: ' + data.error + '.</div>');
									}
								});
						}
					})
			};
			function openMuro() {
				document.querySelector(".app-muro").setAttribute( "onClick", "REopenMuro();");
				$('#damuro-controller').damuro().open();
				$('#damuro-controller').removeClass('hidden'); 
				$('body').addClass('noscroll'); 
				setTimeout( function() { $('#damuro-controller').addClass('visible'); }, 500);
			};
			function REopenMuro() {
				$('#damuro-controller').removeClass('hidden'); 
				$('body').addClass('noscroll'); 
				setTimeout( function() { $('#damuro-controller').addClass('visible'); }, 500);
			};
			function closeMuro(){
				saveMuro();
				setTimeout( function() {
					$("#damuro-controller").addClass('saving'); 
				}, 1000);
					setTimeout( function() {
						// $("#damuro-controller").damuro().remove();
						$("#damuro-controller").removeClass('saving');
						$("#damuro-controller").removeClass('visible');
						$("#damuro-controller").addClass('hidden'); 
						$("body").removeClass('noscroll');
					}, 6500)
			};
			function quitMuro(){
				$("#damuro-controller").damuro().remove();
			};
		// Imgur Uploader
		window.ondragover = function(e) {e.preventDefault()}
		window.ondrop = function(e) {e.preventDefault(); upload(e.dataTransfer.files[0]); }
		function upload(file) {
		
			// https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
			if (!file || !file.type.match(/image.*/)) return;

			document.querySelector("#uploader").className = "uploading";
			try {
				var fd = new FormData(); 
				fd.append("image", file);
				$('#submit').css('backgroundImage', "url('" + file + "')");
				$('#submit').addClass('float-text-shadow'); 
				fd.append("key", "6528448c258cff474ca9701c5bab6927");
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "http://api.imgur.com/2/upload.json");
				xhr.onload = function() {
					try {
						document.querySelector("#uploader").className = "uploaded";
						document.querySelector("#link").href = JSON.parse(xhr.responseText).upload.links.imgur_page;
						document.querySelector("#link span").innerHTML = JSON.parse(xhr.responseText).upload.links.imgur_page;
						document.getElementById("url").value = JSON.parse(xhr.responseText).upload.links.imgur_page;
						setTimeout( function() { $("#url").trigger("input"); }, 500);
						$('#submit').css('backgroundImage', "url('" + JSON.parse(xhr.responseText).upload.links.imgur_page + ".png')");
						$('#submit').addClass('float-text-shadow'); 
					}
					// Errors
					catch(err) {
						console.log("Error!")
						$( "#uploader" ).append( "<div class='error'><b>ERROR:</b> " + JSON.parse(xhr.responseText).upload.links.imgur_page + ". Please reload the page and try again.</div>" );
					}
				}
			}		
			catch(err) {
				$( "#uploader" ).append( "<div class='error'><b>ERROR:</b> " + err + ". Please reload the page and try again.</div>" );
			}
			xhr.send(fd);
		}


		</script>
	</form>
</section>