<section class="view" data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <span>{{article.created | date:'medium'}}</span>/
    <span>{{article.user.name}}</span>
    <h2>{{article.title}}</h2>
    <div data-ng-show="global.user._id == article.user._id">
        <a class="button-lift-light" href="/#!/art/{{article._id}}/edit">
        	<i class="icon-edit"></i> Pencil
        </a> 
        <a class="button-lift-light" data-ng-click="remove();">
            <i class="icon-remove"></i> Remove
        </a>
    </div>
    <div>{{article.content}}</div>
</section>
