<header id="match-create">
	<h1>Start a Match</h1>
	<p>Nice!</p>
</header>
<section class="edit edit-new" data-ng-controller="MatchesController">
<form role="form" data-ng-submit="create()">
	<h2 class="title">Information</h2>
	<br>
	<div class="row input">
			<div class="col4">
				<label for="title" class="control-label">Title<sup>*</sup></label>
			</div>
			<div class="col8">
				<input type="text" class="form-control validate" data-ng-model="title" id="title" placeholder="Untitled" required>
			</div>
	</div>
	<br>
	<div class="row input">
		<div class="col4">
			<label for="content" class="control-label">
				Description<br>
				<small><a href="http://daringfireball.net/projects/markdown/syntax" tabindex="-1">markdown supported</a></small>
			</label>
		</div>
		<div class="col8">
			<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="content" class="form-control validate"></textarea>
		</div>
	</div>
	<br>
	<div class="row input">
		<div class="col4">
			<label for="medium" class="control-label">
				Mediums<br>
				<small><a href="http://daringfireball.net/projects/markdown/syntax" tabindex="-1">markdown supported</a></small>
			</label>
		</div>
		<div class="col8">
			<input type="text" class="form-control validate" data-ng-model="medium" id="medium" placeholder="Traditional, Digital, Photography, Etc" required>

		</div>
	</div>
	<br>
	<div class="row input">
		<div class="col4">
			<label for="rules" class="control-label">
				Rules
			</label>
		</div>
		<div class="col8">
			<textarea data-ng-model="rules" id="rules" cols="30" rows="10" placeholder="rules" class="form-control validate"></textarea>
		</div>
	</div>
	<br>
	<div class="row input">
		<div class="col4">
			<label for="tags" class="control-label">Tags<sup>*</sup></label>
		</div>
		<div class="col8">
			<input type="text" class="form-control validate" data-ng-model="tags" id="tags" placeholder="Untitled" required>
		</div>
	</div>
	<br>
	<h2 class="title">Submissions</h2>
	<br>
	<div class="row input">
		<div class="col4">
			<label for="end" class="control-label">Duration</label>
		</div>
		<div class="col8">
			<input type="text" class="form-control validate" data-ng-model="end" id="end" placeholder="Untitled" required>
		</div>
	</div>
	<strong class="or">OR</strong>
	<div class="row input">
		<div class="col4">
			<label for="end" class="control-label">Close Submissions (EST)</label>
		</div>
		<div class="col8">
			<input type="text" class="form-control validate" data-ng-model="end" id="end" placeholder="Untitled" required>
		</div>
	</div>
	<br>
	<div class="row input">
		<div class="col4 larger" style="line-height: 1.5em;">
			Closing
		</div>
		<div class="col8 larger">
			<input type="checkbox" data-ng-model="critique" id="critique">
			<label for="critique" class="control-label">Close Submissions After Deadline
			<span>Submissions will close after the deadline.</span></label>
		</div>
	</div>
	<br>
	<h2 class="title">Misc</h2>
	<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Commenting System<sup>*</sup>
				</div>
				<div class="col8 larger">
					<input type="radio" data-ng-model="comments" value="disqus" id="disqus" checked="checked">
					<label for="disqus">Disqus
						<span>Public commenting system that will allow anyone to comment. Replies will appear in your e-mail.</span></label>
					<input type="radio"data-ng-model="comments" value="da" id="da">
					<label for="da">deviantART (Experimental)
						<span>Closed commenting system that will allow members of deviantART to comment. A bot will start a comment thread on deviantART. Replies will appear in your Message Center.</span></label>
					<input type="radio" data-ng-model="comments" value="native" id="native" disabled>
					<label for="native" style="opacity: 0.5">Native (Coming Soon!)
						<span>Closed commenting system that will allow Drawalongs members to comment. Replies will appear in you e-mail (assuming that I haven't yet hit the Sendgrid limit.)</span></label>
					<input type="radio" data-ng-model="comments" value="disabled" id="disabled">
					<label for="disabled">Disable Comments
						<span>Turn off comments for everyone.</span></label>
				</div>
			</div>
			<br>
			<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Desktop Notifications
				</div>
				<div class="col8 larger">
					<input type="checkbox" data-ng-model="critique" id="critique">
					<label for="critique" class="control-label">Enable
					<span>Desktop notifications will warn visitors visiting your page during the halfway mark and 5 minutes before it's over.</span></label>
				</div>
			</div>
			<br>
			<br>
			<div class="row input">
				<div class="col4 larger" style="line-height: 1.5em;">
					Ready?
				</div>
				<div class="col8 larger">
					<label>
						<span style="text-align: center;">Submissions will open as soon as you click the buttons below.</span>
					</label>
					<button type="submit" class="btn-submit" onclick="$('html, body').animate({ scrollTop: 0 }, 600);">Start Match</button>
				</div>
			</div>
		<script>
		$(document).ready( function () {
		    $('input').each( function () {
		        $this = $(this);
		        if ( this.value != '' ) $this.addClass('valid');        
		    });
		    $('textarea').each( function () {
		        $this = $(this);
		        if ( this.value != '' ) $this.addClass('valid');        
		    });

		});

		</script>
	</form>
</section>